[Unit]
Description=remotemoe
After=network.target

[Service]
ExecStart=/usr/local/bin/remotemoe
Restart=always

DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

StateDirectory=remotemoe
ConfigurationDirectory=remotemoe

[Install]
WantedBy=multi-user.target
